<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wufeiqun.zeus.dao.CicdRestartRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wufeiqun.zeus.dao.CicdRestartRecord">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="app_code" property="appCode" />
        <result column="env_code" property="envCode" />
        <result column="server_ip" property="serverIp" />
        <result column="docker_mode" property="dockerMode" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="celery_task_id" property="celeryTaskId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, status, app_code, env_code, server_ip, docker_mode, create_time, update_time, create_user, update_user, celery_task_id
    </sql>

</mapper>
