<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wufeiqun.zeus.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wufeiqun.zeus.dao.User">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="username" property="username" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="department" property="department" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="comment" property="comment" />
        <result column="status" property="status" />
        <result column="password" property="password" />
        <result column="work_weixin_id" property="workWeixinId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account, username, mobile, email, department, type, create_time, update_time, create_user, update_user, comment, status, password, work_weixin_id
    </sql>

    <select id="getUserPermissionCodeList" resultType="java.lang.String">
        SELECT
        m.code
        FROM user_role_relation AS urr
        join role_menu_relation as rmr on urr.role_id = rmr.role_id
        join menu as m on m.id=rmr.menu_id
        WHERE urr.account=#{account, jdbcType=VARCHAR}
    </select>

</mapper>
